<a href="{% url 'main_site' %}"><h1>task</h1></a>
{% block content %}
<h1>Activity Service</h1>
{% if get_method %}
    <div>
        <form action="{% url 'activityservice' %}" method="POST">
            {% csrf_token %}
            <input list="users" name="user">
                <datalist id="users">
                    {% for i in users %}
                        <option value="{{ i }}">
                    {% endfor %}
                </datalist>
            <input type="submit">
        </form>
    </div>
{% else %}

<div>
    <select id="select">
        <option value="div_posts">posts</option>
        <option value="div_comments">comments</option>
        <option value="comments_likes">likes comments</option>
        <option value="posts_likes">likes posts</option>
    </select>
</div>

<p><button onclick="select_function()">Select</button></p>

<div id="div_posts" style="display: none;">
    <h3>{{ user }}</h3>
    <h1>Posts</h1>
    {% for post in posts %}
        <p><span>{{ user }}</span> added post: <span>{{ post.title }}</span></p>
        <p>{{ post.content }}</p>
        <p>{{ post.published }}</p>
    {% endfor %}
</div>

<div id="div_comments" style="display: none;">
    <h1>Comments</h1>
    {% for comment in comments %}
        <p><span>{{ user }}</span> commented {{ comment.title }} post, added by <span>{{ comment.target_post.author }}
        </span></p>
        <p><span>Content: </span>{{ comment.content }}</p>
        <p>Comment added: {{ comment.published }}</p>
    {% endfor %}

</div>

<div id="comments_likes" style="display: none;">
    <h1>Comments</h1>
    {% for comment in comments_likes %}
        <p><span>{{ user }}</span> liked comment: {{ comment.comment.content }}</p>
        <p>added by <span>{{ comment.comment.author }}</span></p>
        <p>date: {{ comment.date }}</p>
    {% endfor %}

</div>

<div id="posts_likes" style="display: none;">
    <h1>Posts</h1>
    {% for post in posts_likes %}
        <p><span>{{ user }}</span> liked post: {{ post.post.title }}
        <p>added by <span>{{ post.target_user.username }}</span></p>
        <p>date: {{ post.date }}</p>
    {% endfor %}

{% endif %}
</div>

<script>
    function select_function(){
    document.getElementById("div_posts").style.display = "none";
    document.getElementById("div_comments").style.display = "none";
    document.getElementById("comments_likes").style.display = "none";
    document.getElementById("posts_likes").style.display = "none";

    var x = document.getElementById("select").value;
    document.getElementById(x).style.display = "block";
    }
</script>
{% endblock %}