{% extends 'base.html' %}
{% block content %}
<div>
    <div style="border: solid black 2px;">
        <h4>Title: {{ post.title }}</h4>
        <p>{{ post.content }}</p>
        <span>{{ post.author }}</span> | Like: {{ post.like }} |
        <span>{{ post.published.0 }} {{ post.published.1 }} ago</span>
    </div>
    <button>Like</button>
    <div>
        <h3>Add comment</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <p><label><textarea name="content" placeholder="comment"></textarea></label></p>
            <input name="post_id" type="number" value="{{ post.id }}" hidden>
            <p><label><input type="submit" value="comment"></label></p>
        </form>
    </div>
    {% if messages %}
       {% for message in messages %}
           <p style="color: red;">{{ message }}</p>
       {% endfor %}
    {% endif %}
    {% for comment in comments %}
        <div style="border: solid black 2px;">
            <p>{{ comment.content }}</p>
            <p>{{ comment.author }} | like: {{ comment.like }} | published: {{ comment.published.0 }}
                {{ comment.published.1 }} ago</p>
        </div>
        <form action="{% url 'like' %}" method="GET">
            {% csrf_token %}
            <input type="number" name="comment" value="{{ comment.id }}" hidden>
            <input type="submit" value="Like">
        </form>
    {% endfor %}
</div>

{% endblock %}